<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="../../assets/css/style.css" type="text/css"> -->
		
		<title></title>
	</head>

	<body>

		<div class="container-fluid">        
			<div class="headline"><h1><center>Extra, Extra Read All About It!</center></h1></div>
			<center><button type="submit" class="btn btn-primary btn-xs btn-scrape">Get More News</button></center>
			<br><br>
				
			{{{ body }}}

			<br>
		</div>


		<div class="modal" id="scrapemodal">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        				<h4 class="modal-title">Finished</h4>
      				</div>
      				<div class="modal-body">
      					<p>Finished Checking More News!</p>
      				</div>
      				<div class="modal-footer">
        				<button type="button" class="btn btn-default" id="btn-close" data-dismiss="modal">Close</button>
      				</div>
    			</div>
  			</div>
		</div>



		<div class="modal" id="commentModal">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        				<h4 class="modal-title">Comments</h4>
      				</div>

      				<div class="panel-body" id="comment-here">
		              <div class="form-group">
		                <input class="form-control" id="parentId" type="hidden">
		                <input class="form-control" id="commentTitle" type="text" placeholder="Title">
		                <textarea class="form-control" rows="3" id="commentBody" placeholder="Comment"></textarea>
		                <button type="input" class="btn btn-xs btn-info" id="savenote">Submit</button>
		              </div>
		            </div>

      				<div class="comment">
      					
      				</div>
      				<div class="modal-footer">
        				<button type="button" class="btn btn-default" id="btn-close" data-dismiss="modal">Close</button>
      				</div>
    			</div>
  			</div>
		</div>







	</body>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="app.js"></script>
</html>