<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="../../assets/css/style.css" type="text/css"> -->
		
		<title></title>
	</head>

	<body>

		<div class="container-fluid">        
			<div class="headline"><h1><center>Extra, Extra Read All About It!</center></h1></div>
			<center><button type="submit" class="btn btn-primary btn-xs btn-scrape">Get More News</button></center>
			<br><br>
				
			{{{ body }}}
			<br>
		</div>
	</body>
	 <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="app.js"></script>
</html>